
* {
  font-family:  Montserrat,sans-serif;
}
body {
  padding: 60px;
  color: #fff;
  background-color: #21232A;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
}
input {
  width: 100%;
  border-radius: 20px;
  padding: 10px 20px;
  outline: none;
}
.card-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  align-items: center;
  background-color: #333;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.5s;
  overflow: hidden;
  
}
.card:hover {
  box-shadow: 3px 3px 0px rgba(0,178,255,1);
  /* box-shadow: 0 0 10px rgba(0,178,255,1); */
  background-color: #444;
}
.card img {
  width: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}
.card p {
  text-align: center;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0,178,255,1), 0 0 10px rgba(0,178,255,1), 0 0 20px rgba(0,178,255,1);
 
}